<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>I need somebody
	<a href="http://railstutorial.org/help">help</a>.
	Not just anybody
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
	I need someone
</p>
